body {

    background: linear-gradient(lightblue, rgb(0, 68, 255));
    margin: 0;
    min-height: 100vh;
}

#listadiv {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    height: 15vh;
    font-family: 'Segoe UI', sans-serif;
}

#header {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}


#lista {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 20vh;
    font-family: sans-serif;
    font-size: 1.5em;
}

#tavara {

    display: block;
    margin-bottom: 1em;
    margin-top: -0.5em;
    height: 2em;
    font-size: 1.5em;
}

label {

    display: block;
    height: 2em;
    font-size: 1.6em;
    color: black
}

#lista-ostokset li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3em;
    padding: 5px 0;
    position: relative;
}

#lista-ostokset li::before {
    content: "🎁";
    position: absolute;
    left: -1.6em;
    color: black;
    font-size: 0.7em;
}

.ostettu {

    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #007BFF;
    color: #999;

}

.virhe {

    border: 2px solid red;
    box-shadow: 0 0 5px red;
}

#tyhjennä-nappi {
    margin-left: 60px;
    background-color: red;
}

#nappi {

    background-color: green;

}

#poisto-nappi {

    background-color: yellow;
    margin-left: 4px;

}

button {

    height: auto;
    margin-top: 1em;
    font-size: 1.2em;
    background-color: #d9ff00;
    color: rgb(8, 8, 8);
    cursor: pointer;

}

input[type="checkbox"] {

    transform: scale(2);
    vertical-align: middle;
    margin-left: 2px;
}