body {
    background: linear-gradient(#7DF9FF,#001B87);
    margin: 0;
    min-height: 100vh;
}

#listadiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    height: 20vh;
    font-family: 'Segoe UI', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family:sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

#lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 20vh;
    font-family: sans-serif;
}

input {
    display: block;
    margin-bottom: 1em;
    height: 2em;
    font-size: 1.5em;
}

label {
    display: block;
    margin-bottom: 0.3em;
    height: 2em;
    font-size: 1.5em;
}