#form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    height: 20vh;
    background-color: lightblue;

}

#header {
    display: flex;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#lista {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    height: 20vh;
    
}

input {
    display: block;
    margin-bottom: 1em;
    height: 2em;
    font-size: 1.5em;
}

label {
    display: block;
    margin-bottom: 0.3em;
    height: 2em;
    font-size: 1.5em;
    
}